*{
    margin:0;
    padding:0;
}

#container{
    width: 360px;
    padding: 16px;
    border : 2px solid blue;
    margin: 30px auto;
}

#inp{
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    padding:5px;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    padding: 5px;
    background-color: rgb(155, 170, 206);
}

li{
    border: 1px solid rgb(47, 47, 184);
    box-shadow: 1px 2px 4px rgb(0, 0, 0,0.26);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

ul{
    list-style: none;
}

#plus{
    float: right;
    cursor: pointer;
}

.completed{
    color:gray;
    text-decoration: line-through;
}